* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
}
span {
  font-size: 25px;
}
